{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Play{% endblock %}


{% block content %}
<div class="row">
  <div class="col"></div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h2 class="float-left">
          {% if game.status == 0 %}
            Willkommen bei EXIT
          {% elif game.status == 3 %}
            {{ game.name }}, dein Leben war genial
          {% elif game.status == 4 %}
            {{ game.name }}, du bist gestorben
          {% else %}
            {{ game.name }}
          {% endif %}</h2>
        <div class="float-right">
          <small>Alter:</small> <span class="badge badge-primary" style="vertical-align: center">{{ game.level }}</span>
        </div>
      </div>
      <div class="card-body">
        {% if game.status == 0 %}
          Event ist ein kleines Spiel. Beantworte die folgende Fragen und gucke wie wit du kommst.
        {% endif %}
        {% if form %}
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">{% trans "Next"%}</button>
        </form>

        {% elif game.event %}
          {{ game.event.description }}
          <hr>
          {% if game.status == 2 %}
            <a href="{% url 'simplechoice:continue' %}" class="btn btn-primary">{% trans "Continue"%}</a>
          {% else %}
            <a href="{% url 'simplechoice:new' %}" class="btn btn-primary">{% trans "New Game"%}</a>
          {% endif %}
        {% else %}
          {{ exit.text }}
          <a href="{% url 'simplechoice:new' %}" class="btn btn-primary">{% trans "New Game"%}</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col"></div>

</div>
{% endblock %}
